@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.title-container{
    width:auto;
    background-color: #d5def5;
    height: 1.6em;
    font-size: 50px;
    margin-top: 0.4em;
}


.home-title{
    display: flex;
    width: 9em;
    margin: auto;
    font-size: 1em;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
}


.title-start{
    margin-right: 0.3em;
}

@media screen and (max-width: 1300px) {
    .title-container{
        font-size: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .title-container{
        font-size: 30px;
    }
}