.services-container{
    display: flex;
    margin-top: 5vh;
}

.service-cards{
    flex: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    z-index: 1;
}

.col{
    display: flex;
    justify-content: center;
}

.service-image-container{
    display: flex;
    justify-content: center;
    width: 40%;
}
.service-image-container img{
    width: 500px;
    height: auto;
}

.service-image-container h1{
    position: absolute;
    color: white;
    top: 50%;
    margin-left: 10%;
    font-size: 3em;
    width: fit-content;
    background-color: orange;
    border-radius: 10%;
}

.projects-btn-container{
    display: flex;
    justify-content: center;
}

.projects-btn{
    height: 5vh;
    width: 15vh;
}


.projects-btn{
    text-decoration: none;
    border: 2px solid #010100;
    color: #000;
    position: relative;
    display: inline-block;
    text-align: center;
}

.projects-btn-text{
    z-index: 3;
    position: relative;
}


.projects-btn:hover::before{
    transform: scaleY(0);
}
.projects-btn:hover::after{
    transform: scaleX(0);
}

.projects-btn {
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.projects-btn:hover {
    color: #000000;
    transition: all 0.5s ease-in-out;
}

.projects-btn::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
transition: all 0.5s ease-in-out;
transform: scaleY(1);
}

.projects-btn::after {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: black;
transition: all 0.5s ease-in-out;
transform: scaleX(1);
}