@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*
.first-color { 
	background: #d5def5; 
}
	
.second-color { 
	background: #8594e4; 
}

.third-color { 
	background: #6643b5; 
}

.fourth-color { 
	background: #430f58; 
*/
.navbar-container{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: #1dace4;
    font-size: 40px;
    justify-content:flex-end;
    align-items:flex-end;
}

.title{
    font-size: 1em;
    margin-right: auto;
    margin-left: 2em;
}

.logo{
    margin-left: 0.4em;
}

.links{
    margin-right: 5em;
}

.navbar-container a{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-size: 0.5em;
    margin: 0 2em 0 2em;
}

@media screen and (max-width: 1300) {
    .navbar-container{
        font-size: 30px;
    }
    
}

