.image-split-container{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 16px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 1);
}

.reverse{
    flex-direction: row-reverse;
    
}

.reverse .split-Image{
    flex: 1;
}

.split-Image{
    width: 40vw;
    height: auto;
}

.text-container{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
    text-align: center;
}



.split-text-title{
    font-size: 2vw;
    width: max-content;
    align-self: center;
    border-bottom: 1px solid black;
}

.split-text-description{
    font-size: 1vw;
    align-self: center;
}

.split-btn-container{
    width: 8vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
}


@media screen and (max-width: 700px) {
    .image-split-container{
        flex-direction: column;       
    }

    .text-container{
        row-gap: 0.5em;
        width: 80%;
        align-self: center;
    }

    .image-Container{
        width: 80%;
        align-self: center;
    }

    .split-Image{
        width: 64vw;
        height: auto;
    }

    .split-text-title{
        font-size: 3.2vw;
    }
    
    .split-text-description{
        font-size: 1.9vw;
        align-self: center;
    }

}

